# Created by .ignore support plugin (hsz.mobi)
vendor
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache
tests/Functional/app/data/*
!tests/Functional/app/data/.gitkeep
mutagen.yml.lock
/.idea/
composer.lock
*.override.yaml
.codex.yml
