# Created by .ignore support plugin (hsz.mobi)
vendor
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml
tests/Functional/app/data/*
!tests/Functional/app/data/.gitkeep
mutagen.yml.lock
/.idea/
