# Created by .ignore support plugin (hsz.mobi)
vendor
.php_cs.cache
.phpunit.result.cache
docker-compose.override.yml
tests/Functional/app/data/*
!tests/Functional/app/data/.gitkeep
.cache
!.cache/.gitkeep
mutagen.yml.lock
