parameters:
    ignoreErrors:
        #- '#Call to an undefined method BetterSerializer\\DataBind\\MetaData\\Type\\TypeInterface::getNestedType\(\)#'

    excludes_analyse:
        - %rootDir%/../../../tests/*
