name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  pull-requests: write
  issues: write
  repository-projects: write
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [ '8.4', '8.5' ]
        symfony-version: [ '7.4.*', '8.0.*' ]

    name: "PHP: ${{ matrix.php-version }}, Symfony: ${{ matrix.symfony-version }}"

    steps:
      - uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict --no-check-lock

      - name: Check PHP Version
        run: php -v

      - name: Symfony version
        run: composer config extra.symfony.require ${{ matrix.symfony-version }}

      - name: Composer update
        run: composer update --prefer-dist --no-interaction

      - name: Run static analysis (GrumPHP)
        run: php vendor/bin/grumphp run --testsuite=php${{ matrix.php-version }}

#      - name: Check vendor licenses
#        run: composer run-script lic-check

  dependabot:
    needs: [ build ]
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve a dependabot PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
